*{
	padding:0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body{
	font-family:montserrat;
}

header{
	background: #afb5bc; 
	height: 100px;
	width: 100%;
	border-style:solid;
	border-width:2px;
	border-color:black;
}

.title{
	color:black;
	font-size: 50px;
	line-height:100px;
	padding: 0 100px;
	font-weight:bold;
}

.logo img{
	position:absolute;
	margin-top:-80px;
	margin-left: 20px;
	width: 85px;
	height: 65px;
}

.box-main {
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	max-width: 80%;
	margin: auto;
	height: 80%;
}

.mainpage{
	font-size: 20px;
	display: inline-block;
	position: relative;
	left: 1600px;
	top: -75px;
	font-weight: bold;
	text-decoration: underline;
}

.mainpage1{
	font-size: 20px;
	display: inline-block;
	position: relative;
	left: 1600px;
	top: -75px;
	font-weight: bold;
	text-decoration: underline;
}
.firstsection {
	background-color: white;
	height: 500px;
	display: grid;
	grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
	grid-gap:20px;
	border-style:solid;
	border-width:0px;
	border-color:black;
}

.first-class {
	text-align:center;
	height:100px;
	width: 550px;
	font-family: 'arial';
	font-weight: bold;
	font-size: 25px;
	border: 1px solid black;
	position:relative;
}

.firsthalf {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.secondsection {
	background-color: white;
	height: 500px;
}

.btn{
	font-size: 20px;
	font-family: 'montserrat';
	
}
.web_btn{
	top:10%;
	left:50%;
	width:100px;
	height:100px;
	position: absolute;
	font-size: 20px;
	font-family: 'montserrat';
}

.text-footer {
	background: #afb5bc;
	text-align: center;
	padding: 30px 0;
	font-family: 'montserrat';
	font-size: 23px;
	display: flex;
	justify-content: center;
	color: black;
	font-weight: bold;
	border-style: solid;
	border-width:2px;
} 


table {
	height:170px; 
	border-collapse: collapse;
	border-radius: 5px;
	box-shadow: 0 0 4px rgba(59, 12, 12, 0.25);
	overflow: auto;
	font-family: "Montserrat";
	font-weight: bold;
	font-size: 25px;
	border-style:solid;
	border-width:px;
	border-color:black;
}

th {
	background: rgb(48, 82, 95);
	color: #ffffff;
	text-align: left;
}
  
th,td {
	padding: 10px 20px;
}
  
tr:nth-child(even) {
	background: #eeeeee;
}
