*{
	padding:0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body{
	font-family:montserrat;
}

header{
	background: #4e5c6d; 
	height: 80px;
	width: 100%;
	border-style:solid;
	border-width:2px;
	border-color:black;
}
.title{
	color:black;
	font-size: 35px;
	line-height:80px;
	padding: 0 100px;
	font-weight:bold;
}

.logo img{
	position:absolute;
	margin-top:15px;
	margin-left: 25px;
	width: 65px;
	height: 50px;
}

.box-main {
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	max-width: 80%;
	margin: auto;
	height: 80%;
}

.mainpage{
	font-size: 15px;
	display: inline-block;
	position: relative;
	left: 1750px;
	top: -70px;
	font-weight: bold;
}

.mainpage1{
	font-size: 15px;
	display: inline-block;
	position: relative;
	left: 1750px;
	top: -50px;
	font-weight: bold;
}
.firstsection {
	background-color: white;
	height: 500px;
	display: grid;
	grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
	grid-gap:20px;
	border-style:solid;
	border-width:0px;
	border-color:black;
}

.first-class {
	text-align:center;
	height:100px;
	width: 550px;
	font-family: 'arial';
	font-weight: bold;
	font-size: 25px;
	border: 1px solid black;
	position:relative;
}

.firsthalf {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.secondsection {
	background-color: white;
	height: 330px;
}

.btn{
	font-size: 20px;
	font-family: 'montserrat';
}
.counter {
	font-size: 25px;
	font-family: 'arial';
}

.volumeCapacity{
	font-size: 25px;
	font-family: 'arial';
}

.dateAndTime{
	font-size: 25px;
	font-family: 'arial';
	text-align: center;
	border:0;
}

.blankspace{
	font-size:8px;
}

.text-footer {
	background: #4e5c6d;
	text-align: center;
	padding: 20px 0;
	font-family: 'montserrat';
	display: flex;
	justify-content: center;
	color: black;
	font-weight: bold;
} 

table {
	overflow-y:auto; 
	height:100px; 
	border-collapse: collapse;
	border-radius: 5px;
	box-shadow: 0 0 4px rgba(59, 12, 12, 0.25);
	overflow: hidden;
	font-family: "Quicksand", sans-serif;
	font-weight: bold;
	font-size: 14px;
}

th {
	background: rgb(42, 108, 134);
	color: #ffffff;
	text-align: left;
}
  
th,td {
	padding: 10px 20px;
}
  
tr:nth-child(even) {
	background: #eeeeee;
}
